body,
html {
 width:100%;
 height:100%
}

body {
  margin:0;
  padding:0;
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
  font-family:Roboto;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-blue {
  background-color: #6699cc;
}

/* modify logo */
.navbar-brand img {
  height: 40px;
  width: auto;
  margin-right: 10px;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: auto;
  max-width: 100%;
  margin-right: 16px;
  float: left;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.article-img {
    max-width: 200px;
    height: auto;
    float: left;
    margin-right: 16px;
  }

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

<link rel="shortcut icon" type="image/png" href="media/favicon.png">

.comment-form textarea, .comment-form input[type="submit"], .comment-form label {
        display: inline-block;
        vertical-align: middle;
    }
    .comment-form label {
        width: 100px;
    }
    .comment-form textarea {
        width: 730px;
        height: 120px;
    }
    .comment-form input[type="submit"] {
        padding: 6px 12px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

a.read-link {
  background-color: #4CAF50;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

a.download-link {
  background-color: #008CBA;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  text-decoration: none;
}

a.read-link:hover, a.download-link:hover {
  opacity: 0.8;
}

footer {
 position: sticky!important;
 top: 100%;
 padding-top:25px;
 padding-bottom:25px;
 border-top:1px solid #ddd;
}

footer p {
 margin:2px;
 text-align:center;
 padding:0 40px;
 color:#fff;
 font-size:16px;
}

footer a{
  color:#777
}

footer a:hover {
  color:#777;
  text-decoration: none;
}
