{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" type="image/png" href="{{ request.scheme }}://{{ request.get_host }}/media/favicon.png">
    <link rel="stylesheet" href="https://sinoptik.ua/css/external/wi.css">

    {% if title %}
    <title>Блог про книжки {{ title }}</title>
    {% else %}
        <title>Блог про книжки "Що почитати..."</title>
    {% endif %}

</head>
<body>
    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-blue fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'blog-home' %}">
                    <img src="media/logo.png" alt="Logo">"Що почитати..."</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link " href="{% url 'blog-home' %}">Головна</a>
                        <a class="nav-item nav-link" href="{% url 'blog-about' %}">Про блог</a>
                    </div>


            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url 'post-create' %}">Новий запис</a>
                <a class="nav-item nav-link" href="{% url 'profile' %}">Профіль</a>
                <a class="nav-item nav-link" href="{% url 'logout' %}">Вихід</a>
                {% else %}
                <a class="nav-item nav-link" href="{% url 'login' %}">Вхід</a>
                <a class="nav-item nav-link" href="{% url 'register' %}">Реєстрація</a>
                {% endif %}
            </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                <div class="content-section">
                    <h3>Події блогу</h3>
                    <p class='text-muted'>
                        Що у нас відбувається:
                    <ul class="list-group">
                    <a class="nav-item nav-link list-group-item list-group-item-light" href="{% url 'post_list' %}">Записи за сьогодні</a>
                    <a class="nav-item nav-link list-group-item list-group-item-light" href="{% url 'book_list' %}">Куплю-продам книгу</a>
                    <a class="nav-item nav-link list-group-item list-group-item-light" href="{% url 'discussion_list' %}">Обговорення</a>
                    <a class="nav-item nav-link list-group-item list-group-item-light" href="{% url 'event_list' %}">Літературні бранчі</a>
                </ul>
                    </p>

        <div id="SinoptikInformer" style="width:307px;" class="SinoptikInformer type5c1">
            <div class="siHeader">
                <div class="siLh">
                    <div class="siMh">
                        <a onmousedown="siClickCount();" class="siLogo" href="https://ua.sinoptik.ua/" target="_blank" rel="nofollow" title="Погода"></a>
                        Погода
                        <span id="siHeader"></span>
                    </div>
                </div>
            </div>
            <div class="siBody">
                <a onmousedown="siClickCount();" href="https://ua.sinoptik.ua/погода-київ" title="Погода у Києві" target="_blank">
                    <div class="siCity"><div class="siCityName">
                        <span>Київ</span>
                    </div><div id="siCont0" class="siBodyContent">
                        <div class="siLeft">
                            <div class="siTerm">
                            </div>
                            <div class="siT" id="siT0">
                            </div>
                            <div id="weatherIco0">
                            </div>
                        </div>
                        <div class="siInf">
                            <p>вологість: <span id="vl0"></span></p>
                            <p>тиск: <span id="dav0"></span></p>
                            <p>вітер: <span id="wind0"></span></p>
                        </div>
                    </div>
                    </div>
                    </a>
                    <div class="siLinks">Погода на 10 днів від <a href="https://ua.sinoptik.ua/погода-київ/10-днів" title="Погода на 10 днів" target="_blank" onmousedown="siClickCount();">sinoptik.ua</a>
                    </div>
                </div>
                <div class="siFooter"><div class="siLf"><div class="siMf">
                </div>
                </div>
                </div>
            </div>
            <script type="text/javascript" charset="UTF-8" src="//sinoptik.ua/informers_js.php?title=4&amp;wind=2&amp;cities=303010783&amp;lang=ua">
            </script>
            </div>

                <div class="content-section">
                <div id="book-of-the-day">
                    <h3>Книга дня</h3>
                    <div id="book-info">
                        <img id="book-cover" src="{{ book_cover_url }}" alt="{{ book_title }}">
                        <div id="book-title">
                            <h3>{{ book_title }}</h3>
                            <p>by {{ book_author }}</p>
                        </div>
                    </div>
                    <div id="book-buttons">
                        <a class="read-link" href="{{ book_read_url }}">Читати</a>
                        <a class="download-link" href="{{ book_download_url }}">Скачати</a>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </main>


    <footer class="text-center bg-dark">
        <p>
            <a href="{% url 'blog-home' %}">© Блог "Що почитати...", 2023</a>
        </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
