{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Видалення запису</legend>
                <h2>Впевнені, що хочете видалити цей запис?"{{ object.title }}"</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Авжеж!</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Скасувати видалення</a>
            </div>
        </form>
    </div>
{% endblock content %}