{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      {% if object.author == user %}
      <div>
        <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Редагувати</a>
        <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Видалити</a>
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    {% if object.image %}
    <img class="article-img" src="{{ object.image.url }}" alt="{{ object.title }} image">
    {% endif %}
    <p class="article-content">{{ object.content }}</p>
  </div>
</article>

<div class="likes-section">
  <form method="post" action="{% url 'like_post' object.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary btn-sm">Супер!</button>
  </form>
  <p>{{ object.likes.count }} лайків</p>
  <form method="post" action="{% url 'dislike_post' object.id %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary btn-sm">Не сподобалось(</button>
  </form>
  <p>{{ object.dislikes.count }} дизлайків</p>
</div>

<hr>

{% if user.is_authenticated %}
<form method="post" class="comment-form" action="{% url 'add_comment' post.pk %}">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Поділитись враженням</button>
</form>
{% endif %}
{% if post.comments.count > 0 %}
<hr>
<h3>Коментарі:</h3>
{% for comment in post.comments.all %}
{% if comment.approved_comment or user.is_staff %}
<div class="comment">
  <p>{{ comment.author }} says:</p>
  <p>{{ comment.text }}</p>
  <small>Posted on {{ comment.created_date }}</small>
  {% if user.is_staff and not comment.approved_comment %}
  <form method="post" action="{% url 'comment_approve' comment.pk %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Підтвердити</button>
  </form>
  {% endif %}
</div>
{% endif %}
{% endfor %}
{% endif %}

{% endblock content %}
