{% extends "blog/base.html" %}
{% block content %}
    <h1 class="mb-3">Сьогоднішні публікації (всього {{ page_obj.paginator.count }} записів)</h1>
    {% if posts %}
        {% for post in posts %}
            <article class="media content-section">
              <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
              <div class="media-body">
                <div class="article-metadata">
                  <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                  <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <img class="article-img" src="{{ post.image.url }}" alt="{{ post.title }}">
                <p class="article-content">{{ post.content|safe|slice:":250" }}</p>
                <a href="{% url 'post-detail' post.id %}" class="btn btn-primary">Читати далі...</a>
              </div>
            </article>
        {% endfor %}
    {% else %}
        <p>Сьогодні немає нових записів. Приходьте завтра!</p>
    {% endif %}

    <div class="pagination justify-content-center">
    {% if is_paginated %}
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page=1">Перша</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.previous_page_number }}">Попередня</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.next_page_number }}">Наступна</a>
        <a class="btn btn-outline-info mb-4 mr-1" href="?page={{ page_obj.paginator.num_pages }}">Остання</a>
      {% endif %}

    {% endif %}
  </div>
{% endblock content %}
