{% extends "blog/base.html" %}
{% block content %}
    <h2>Ви вийшли зі свого облікового запису</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Увійти</a>
        </small>
    </div>
{% endblock content %}